body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
}
/*global elements*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
}
.button_1 {
  height: 38px;
  color: #ffffff;
  border: none;
  background: #e8491d;
  padding: 0 20px 0 20px;
}
.dark {
  margin: 50px 0 10px 0;
  background: #35424a;
  padding: 15px;
  color: #ffffff;
}
/*header*/
header {
  background: #252529;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8419d 3px solid;
}

header a {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding {
  float: left;
}
header nav {
  float: right;
  margin-top: 10px;
}
header #branding h1 {
  margin: 0;
}
header .highlight,
header .current a {
  color: #e8419d;
  font-weight: bold;
}
header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/*showcase*/
#showcase {
  min-height: 600px;
  background: url('./images/home-picture.jpg') no-repeat center/cover; 
}
#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
  color: #ffffff;
}
.showcase-text a{
 font-size: 1.3em;
 color:#e8419d;
 margin-left: 850px;
 text-decoration: none;
}
#message-box p {
  margin-top: 10px;
  font-size: 20px;
  color:#000000;
  
}
#message-box{
  width: 50%;
  background-color: #fdd8ed;
  float: right;
  padding: 8px;
  border-radius: 10px;
}
/*newsletter*/
#newsletter {
  background: #35424a;
  padding: 15px;
  color: #ffffff;
}
#newsletter h1 {
  float: left;
}
#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  width: 250px;
  height: 25px;
}

/*Boxes*/
.list-product{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding-top: 150px;
}
.box{
  background-color: indianred;
}
#boxes {
  margin-top: 20px;

}
#boxes .box {
  text-align: center;
  padding: 10px;
}
#boxes .box img {
  width: 80;
}

/*footer*/
footer {
  background-color: #e8491d;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}

/*media queries*/

@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box
   {
    float: none;
    text-align: center;
    width: 100%;
  }
  header {
    padding-bottom: 20px;
  }
  #showcase h1 {
    margin-top: 40px;
  }
  #newsletter button {
    display: block;
    width: 100%;
  }
  #newsletter form input[type="email"] {
    width: 100%;
    margin-bottom: 5px;
  }
}

@media (max-width: 460px) {
  header nav li a {
    float: none;
    text-align: center;
    font-size: 13px;
  }
  #showcase h1 {
    font-size: 15px;
  }
  /*.list-product{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3px;

}*/
}

@media (max-width: 320px) {
  header nav li a {
    float: none;
    text-align: center;
    font-size: 10px;
  }
  header #branding h1 {
    text-align: center;
    font-size: 13px;
  }
  #showcase h1 {
    font-size: 18px;
  }
 /* .list-product{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;

}*/
}
