body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
}
/*global elements*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
}
.button_1 {
  height: 38px;
  color: #ffffff;
  border: none;
  background: #e8491d;
  padding: 0 20px 0 20px;
}
.dark {
  margin: 50px 0 10px 0;
  background: #35424a;
  padding: 15px;
  color: #ffffff;
}
/*header*/
header {
  background: #252529;
  color: #ffffff;
  min-height: 100px;
  border-bottom: #e8419d 3px solid;
}

header a {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding {
  float: left;
  padding-top: 23px;
}
header nav {
  float: right;
  margin-top: 10px;
}
header #branding h1 {
  margin: 0;
}
header .highlight,
header .current a {
  color: #e8419d;
  font-weight: bold;
}
header a:hover {
  color: #cccccc;
  font-weight: bold;
}
#product-display-header h1{
    text-align: center;
    font-size: 3em;
    color: #000000;
   margin: 0;
}
nav #display_name p{
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #e8419d
}
nav #display_name {
  padding-left: 1.5em;
  padding-bottom: 5px;
}

/*Boxes*/
#display_product{
  color: #e8419d;
  font-size: 1.2rem;
  text-align: center;
}
.list-product{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding-top: 50px;
  min-height: 16vh; 
}
.box{
  background-color: indianred;
}
#boxes {
  margin-top: 20px;
  
}
#boxes .box {
  text-align: center;
  padding: 10px;
}
#boxes .box img {
  width: 80;
}

/*newsletter*/
#newsletter {
  background: #35424a;
  padding: 15px;
  color: #ffffff;
  box-sizing: border-box;
}
#newsletter h1 {
  float: left;
}
#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  width: 250px;
  height: 25px;
}



/*footer*/
footer {
  background-color: #e8491d;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}

/*media queries*/
@media screen and (max-width: 1024px) {

.list-product{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  padding-top: 50px;
}
#boxes .box img {
  width: 100%;
}
#boxes .box{
  width: 90%;
   margin: 10px 0;
   font-size: 22px;
}

#message-box p {
  font-size: 25px;;
}
}

@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box
   {
    float: none;
    text-align: center;
    width: 100%;
  }
  header {
    padding-bottom: 20px;
  }
  #showcase h1 {
    margin-top: 40px;
  }
  #newsletter button {
    display: block;
    width: 100%;
  }
  #newsletter form input[type="email"] {
    width: 100%;
    margin-bottom: 5px;
  }
  
.list-product{
 display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: row wrap;
   align-content: stretch;
}

#boxes .box img {
  width: 80%;
}
#boxes .box{
  width: 90%;
   margin: 10px 0;
   font-size: 20px;
}

}

@media (max-width: 460px) {
  header nav li a {
    float: none;
    text-align: center;
    font-size: 13px;
  }
  #showcase h1 {
    font-size: 15px;
  }
  
#boxes .list-product{
  display: flex;
  flex-direction:column;
  align-items: center;
 
}
#boxes .box img {
  width: 100%;
}
#boxes .box{
  width: 80%;
   margin: 10px 0;
}
.showcase-text a{
 font-size: 20px;
margin: 0;
}
}

@media (max-width: 320px) {
  header nav li a {
    float: none;
    text-align: center;
    font-size: 10px;
  }
  header #branding h1 {
    text-align: center;
    font-size: 13px;
  }
  #showcase h1 {
    font-size: 18px;
  }
 #boxes .list-product{
  display: flex;
  flex-direction:column;
  align-items: center;
 
}
#boxes .box img {
  width: 100%;
}
#boxes .box{
  width: 60%;
   margin: 7px 0;
}
.showcase-text a{
 font-size: 18px;
margin: 0;
}

}
